<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>多表头表格</title>
    <style>
        #app .table {
            width: 100%;
            border-collapse: collapse;
            font-size: 12px;
            color: #515a6e;
            border: 1px solid #515a6e;
            margin-top: 20px;

        }

        .table thead tr th {
            height: 40px;
            white-space: nowrap;
            overflow: hidden;
            background-color: #f8f8f9;
        }

        td,
        th {
            text-align: center;
            border: 1px solid #e8eaec;
        }

        .table thead tr th,
        .table tbody tr td {
            padding: 0 10px;
        }

        .table tbody tr td {
            height: 48px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="./js/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <table class="table" width="100%" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr v-for="items in newArr">
                    <th v-for="item in items" :rowspan="item.rowspan" :colspan="item.colspan">{{item.title}}</th>
                </tr>
            </thead>
            <!-- 多级表头 执行这个 -->
            <tbody v-if="needRowSpan.length>0">
                <tr v-for="(items,index) in dataList">
                    <td v-for="item in items.tdList" :rowspan="resetRowSpan(index,item)">{{items[item]}}</td>
                </tr>
                <tr>
                    <td>月平均</td>
                    <!-- <td></td> -->
                    <td v-for="dd in data1">{{dd}}</td>
                </tr>
                <tr>
                    <td>月峰值</td>
                    <!-- <td></td> -->
                    <td v-for="dd in data2">{{dd}}</td>
                </tr>

            </tbody>
        </table>
    </div>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                data1: [],
                data2: [],
                columns: [{
                        title: '时间',
                        key: 'type',
                    },
                    {
                        title: '参数',
                        children: [{
                                title: '流入',
                                key: 'size',
                                align: 'center',
                            },
                            {
                                title: '流出',
                                key: 'param1',
                                align: 'center',
                            },

                        ],
                    },
                    {
                        title: '数据',
                        align: 'center',
                        children: [{
                                title: '流入',
                                key: 'infor1',
                                align: 'center',
                            },
                            {
                                title: '流出',
                                key: 'infor2',
                                align: 'center',
                            },
                        ],
                    },
                    {
                        title: '汇总',
                        key: 'all',
                    },


                ], //表头原始参数
                dataList: [{
                        type: "图书",
                        date: "2018-11-26",
                        amount: 0,
                        size: 12,
                        param1: 0,
                        param2: 0,
                        param3: 0,
                        infor1: 0,
                        infor2: 0,
                        infor3: 0,
                        infor4: 0,
                        all: 30,
                    },
                    {
                        type: "图书1",
                        date: "2018-11-26",
                        amount: 0,
                        size: 568,
                        param1: 0,
                        param2: 0,
                        param3: 0,
                        infor1: 0,
                        infor2: 0,
                        infor3: 0,
                        infor4: 0,
                    },
                    {
                        type: "平均值",
                        date: "2018-11-27",
                        amount: 0,
                        size: 0,
                        param1: 0,
                        param2: 0,
                        param3: 0,
                        infor1: 0,
                        infor2: 0,
                        infor3: 0,
                        infor4: 0,
                    },
                    {
                        type: "峰值",
                        date: "2018-11-27",
                        amount: 0,
                        size: 0,
                        param1: 0,
                        param2: 0,
                        param3: 0,
                        infor1: 0,
                        infor2: 0,
                        infor3: 0,
                        infor4: 0,
                    }
                ], //tbody具体数据

                newArr: [
                    []
                ], //表头
                maxHeight: 1, //表头总共占的行数
                colKeyList: [], //所有的key

                needRowSpan: [], //tbody需要跨行的key
                span: {} //所跨的行数
            }
        },
        methods: {
            resetRowSpan(row, key) {
                if (this.span[key] && this.span[key][row]) {
                    return this.span[key][row];
                }
                return 1;
            },
            gerMaxCol(items) {
                let max = 0;

                function each(data) {
                    if (max < data.length) {
                        max = data.length;
                    }
                    data.forEach((item) => {
                        if (item.children) {
                            each(item.children);
                        }
                    });
                }
                each(items);
                return max;
            },
            getMaxFloor(treeData) {
                const that = this;
                let max = 0;

                function each(data, floor) {
                    data.forEach((e) => {
                        if (floor > max) {
                            max = floor;
                        }
                        if (e.children && e.children.length > 0) {
                            each(e.children, floor + 1);
                        }
                    });
                }
                each(treeData, 1);
                return max;
            },
            columnsHandle(treeData) {
                const that = this;
                const maxFloor = this.maxHeight;
                const keyList = [];

                function each(data, index) {
                    if (that.newArr[index] === undefined) {
                        that.newArr[index] = [];
                    }
                    data.forEach((e) => {
                        const obj = {
                            title: e.title,
                            key: e.key,
                            rowspan: maxFloor,
                            colspan: 1,
                        };
                        if (e.children) {
                            obj.colspan = that.gerMaxCol(e.children);
                            obj.rowspan = maxFloor - that.getMaxFloor(e.children);
                        } else {
                            that.colKeyList.push(e.key);
                            if (e.hasrowspan) { //  如果存在hasrowspan属性并且值为true，则表明该key列存在跨行
                                that.needRowSpan.push(e.key);
                            }
                        }
                        that.newArr[index].push(obj);
                        if (e.children && e.children.length > 0) {
                            each(e.children, index + 1);
                        }
                    });
                }
                each(treeData, 0);
            },
            dataHandle(dataList, needRowSpan) {
                needRowSpan.forEach((key) => {
                    const sum = {};
                    let i = 0;
                    let k = 0;
                    const that = this;
                    for (let j = 0; j < dataList.length; j += 1) {
                        i += 1;
                        let tdList = [];
                        if (dataList[j].tdList) {
                            tdList = [...dataList[j].tdList];
                        } else {
                            tdList = [...that.colKeyList];
                        }
                        if (dataList[j - 1] && (dataList[j][key] === dataList[j - 1][key] || !dataList[
                                j][key])) {
                            const index = tdList.indexOf(key);
                            if (index > -1) {
                                tdList.splice(index, 1);
                            }
                        }
                        dataList[j].tdList = tdList;
                        if (dataList[j + 1] && dataList[j + 1][key]) {
                            if (dataList[j][key] !== dataList[j + 1][key]) {
                                sum[k] = i;
                                i = 0;
                                k = j + 1;
                            }
                        } else if (!dataList[j + 1]) {
                            sum[k] = i;
                        }
                    }
                    this.span[key] = sum;
                });
                this.showTable = true;
            },


            defaultData: function () {
                this.maxHeight = this.getMaxFloor(this.columns); //1. 计算出表头一共需要多少行
                this.columnsHandle(this.columns); //2. 对表头进行处理
                this.dataHandle(this.dataList, this.needRowSpan); // 3. 对数据进行处理（传入参数： 具体数据，需要跨行列的（key））
            },
            proData: async function () {
                let url =
                    "https://www.fastmock.site/mock/82a194e05cc6f9392c6aeb865ad4a498/shop01/api/ri222";
                let res = await axios.post(url);
                //  表格数据
                this.dataList = [];
                this.columns = [];

                // 表头数据
                this.columns = [{
                    title: '时间',
                    key: 'time',
                    hasrowspan: true
                }];
                for (let j = 0; j < res.data.dateli.length; j++) {
                    for (let k = 0; k < res.data.dateli[j].portlist.length; k++) {
                        this.columns.push({
                            title: res.data.dateli[j].portlist[k].portname,
                            children: [{
                                    title: '流入',
                                    key: res.data.dateli[j].portlist[k].portname + 'in',
                                    align: 'center',
                                },
                                {
                                    title: '流出',
                                    key: res.data.dateli[j].portlist[k].portname + 'out',
                                    align: 'center',
                                },

                            ],
                        });
                    }
                };
                this.columns.push({ //表头数据 汇总
                    title: '汇总',
                    key: '汇总',
                    hasrowspan: true
                });
                //表格数据
                let data = this.procEcharts(res.data.dateli);
                //汇总
                let allData = 0;
                for (let j = 0; j < this.columns.length - 2; j++) {
                    for (let k in data[j]) {
                        if (k != 'time') {
                            allData += data[j][k]
                            data[j].汇总 = allData.toFixed(2)
                        }
                    }
                    allData = 0;
                };
                this.dataList = data;
                //月平均
                //月峰值
                for (let j = 0; j < res.data.agvmaxli.length; j++) {
                    this.data1.push(res.data.agvmaxli[j].avg);
                    this.data2.push(res.data.agvmaxli[j].max)
                }

            },


            procEcharts: function (data) {
                let self = this;
                for (let i = 0; i < data.length; i++) {
                    data[i].str = eval("(" + data[i].str + ")");
                };
                let obj = [];
                for (let j = 0; j < data.length; j++) {
                    obj.push(data[j].str)
                }
                return obj
            },


        },

        mounted: async function () {
            await this.proData();
            await this.defaultData();


        },

    });
</script>


</html>