<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>一个测试</title>
    <link rel="stylesheet" href="./js/element.css" />


    <script src="./js/axios.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/element.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/moment.min.js "></script>
    <script src="./js/echarts.min.js"></script>
    <script src="./js/v-charts.min.js"></script>
    <script src="./js/linq.min.js"></script>

    <script>
        var html = '<div> ' +
            ' <el-cascader ' +
            ' v-model="value" ' +
            ' :options="options" ' +
            ' clearable > ' +
            ' </el-cascader><el-cascader v-model="value1" :options="options" clearable >' +
            ' </el-cascader>' +
            ' </div>';
        console.log("html", html);
    </script>

    <style>

    </style>
</head>

<body>
    <div id="app">
        <div>
            <el-row>
                <el-button>新增</el-button>
                <el-button>删除</el-button>
            </el-row>
            <el-table :data="tableData" style="width: 100%">
                <el-table-column prop="date" label="日期" width="180">
                </el-table-column>
                <el-table-column prop="name" label="姓名" width="180">
                </el-table-column>
                <el-table-column prop="address" label="地址">
                </el-table-column>
            </el-table>
        </div>
    </div>
</body>
<script>
    var vm = new Vue({
        el: "#app",
        data: {

        },
        watch: {},
        methods: {



        },
        mounted: function () {
            axios.get(
                'http://127.0.0.1:9999/api/1')
        },

        created: function () {}
    });
</script>

</html>